################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MotionDetector/MotionDetector/MotionDetector_StoreKey.pfx
/MotionDetector/MotionDetector/Package.StoreAssociation.xml
/MotionDetector/MotionDetector/_pkginfo.txt
/MotionDetector/MotionDetector/AppPackages
/MotionDetector/MotionDetector/BundleArtifacts
/MotionDetector/MotionDetector/bin/x64/Debug
/MotionDetector/MotionDetector/obj/x64/Debug
/MotionDetector/MotionDetector/obj
/MotionDetector/.vscode
/MotionDetector/.vs/MotionDetector/v16
/MotionDetector/MotionDetector/bin
/MotionDetector/.vs/MotionDetector/DesignTimeBuild
